#l1_header_wrapper{
    width: 80%;
    margin: 0 auto;
}
/* header1 */
#l1_header1{
    display: flex;
    justify-content: space-between;
    height: 80px;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 1px !important;
}
/* header1_logo */
#l1_logo_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
#l1_logo {
    color: rgb(255, 56, 92) !important;
}
/* header1_button */
#l1_header1_button_group_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#l1_login_button_wrap1 {
    margin-left: 8px;
    align-items: center;
}
#l1_login_button_wrap2{
    display: inline;
    align-items: center;
}
#l1_login_button{
    border: 1px solid rgb(221, 221, 221);
    cursor: pointer;
    outline: 0;
    display: flex;
    margin: 0;
    padding: 5px 5px 5px 12px;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 21px;
}
#l1_login_button_left svg{
    margin-right: 12px;
    color: #717171;
}
#l1_login_button_right svg{
    color: #717171;
    width: 30px;
    height: 30px;
}




#l1_language_button{
    margin: 0;;
    border: 0;
    cursor: pointer;
    align-items: center;
    padding: 12px;
    background: white;
}
#l1_language_button:hover{
    border-radius: 20px;
    background-color: rgb(247,247,247);
}

#l1_host_button {
    border: 0;
    cursor: pointer;
    padding: 15px 20px;
    align-items: center;
}
#l1_host_button:hover{
    border-radius: 20px;
    background-color: rgb(247,247,247);
}
#l1_host_button_link{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

/* header2 */
#l1_header2{
    display: flex;
    height: 80px;
    justify-content: space-between;
}
/* header2_nav */
#l1_header2_nav_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* header2_filter */
#l1_header2_filter_group_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#l1_header2_filter1 {
    margin-right: 10px;
}
#l1_header2_filter1_button{
    cursor: pointer;
    text-align: center;
    border: 2px solid rgb(34, 34, 34);
    position: relative;
    padding: 10px 16px;
    border-radius: 30px;
    font-size: 12px;
    line-height: 16px;
    background-color: rgb(247, 247, 247);
    width: 100px;
    margin: 0px;
}
#l1_header2_filter1_button:hover{
    border: 1px solid rgb(34, 34, 34);
}
#l1_header2_filter1_button_inside{
    display: flex !important;
    place-content: center;
}

/* filter1 언제든 */
#l1_header2_filter1_wrap{
    position: relative;
}
#l1_header2_fiter1_modal_wrap{
    position: absolute;
    display: none;
    top: 160px;
    z-index: 1000;
    background: rgb(255, 255, 255);
    border: 0.5px solid rgba(118, 118, 118, 0.28);
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 15%) 0px 10px 37px;
    overflow: hidden;
    width: 800px;
    white-space: normal;
    right: 400px;
}
#l1_header2_fiter1_modal_inside_wrap1{
    padding: 16px 48px;
}
#l1_header2_fiter1_modal_option1_wrap2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
#l1_header2_fiter1_modal_option1_wrap3{
    background-color: rgb(235, 235, 235);
    border-radius: 100px;
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
}
#l1_header2_fiter1_modal_option1_wrap4{
    display: flex;
}
#l1_filter1_modal_option1_button1{
    border-radius: 100px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    border: none;
    background: transparent;
    color: rgb(34, 34, 34);
    padding: 5px 14px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 6px;
    position: relative;
}
#l1_filter1_modal_option1_button2{
    border-radius: 100px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    border: none;
    background: rgb(255, 255, 255);
    margin-top: 4px;
    margin-bottom: 4px;
    position: relative;
    cursor: default;
}
#l1_header2_fiter1_modal_option2_wrapper{
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#l1_header2_fiter1_modal_option2_wrap2_1,
#l1_header2_fiter1_modal_option2_wrap2_2,
#l1_header2_fiter1_modal_option2_wrap2_3{
    display: inline-block;
    white-space: nowrap;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#l1_filter1_modal_option2_button1,
#l1_filter1_modal_option2_button3{
    cursor: pointer;
    text-align: center;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
    padding: 4px 12px;
    min-height: 32px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 18px;
}
#l1_filter1_modal_option2_button2{
    cursor: pointer;
    text-align: center;
    border: 2px solid rgb(34, 34, 34);
    background-color: rgb(255, 255, 255);
    padding: 4px 12px;
    min-height: 32px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 18px;
}
#l1_header2_fiter1_modal_option3_wrapper{
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.l1_filter1_modal_textbar{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(113, 113, 113);
    padding-top: 8px;
    padding-bottom: 16px;
    margin: 0px;
}
#l1_header2_fiter1_modal_option3_wrap{
    display: flex;
    position: relative;
    align-items: center;
}
.l1_header2_fiter1_modal_option3_content{
    display: inline-block;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.l1_header2_fiter1_modal_option3_button{
    cursor: pointer;
    text-align: center;
    border: 1px solid rgba(176, 176, 176, 0.5);
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    color: rgb(34, 34, 34);
    position: relative;
    border-radius: 16px;
    font-size: 12px;
    line-height: 16px;
    height: 120px;
    width: 120px;
}
.l1_header2_fiter1_modal_option3_button_inside_wrap{
    padding-top: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.l1_header2_fiter1_modal_option3_button_img{
    width: 32px;
    height: 32px;
}
.l1_header2_fiter1_modal_option3_button_text_month{
    padding-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.l1_header2_fiter1_modal_option3_button_text_year{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgb(113, 113, 113);
    padding-top: 4px;
}
#l1_header2_fiter1_modal_inside_wrap2{
    padding: 12px 14px;
    border-top: 1px solid rgb(235, 235, 235);
    justify-content: flex-end;
    flex-direction: row;
}
#l1_header2_fiter1_modal_inside_wrap2_button{
    cursor: pointer;
    touch-action: manipulation;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    outline: none;
    padding: 8px 16px;
    border: none;
    background: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    float: right;
    margin-bottom: 10px;
}


#l1_header2_filter2 {
    margin-right: 10px;
}
#l1_header2_filter2_button{
    cursor: pointer;
    text-align: center;
    border: 1px solid rgb(221, 221, 221);
    position: relative;
    padding: 10px 16px;
    border-radius: 30px;
    font-size: 12px;
    line-height: 16px;
    background-color: rgb(247, 247, 247);
    width: 100%;
    margin: 0px;
}
#l1_header2_filter2_button:hover{
    border: 1px solid rgb(34, 34, 34);
}
#l1_header2_filter2_button_inside{
    display: flex !important;
    place-content: center;
}

#l1_header2_filter3_button{
    cursor: pointer;
    text-align: center;
    border: 1px solid rgb(221, 221, 221);
    position: relative;
    padding: 10px 16px;
    border-radius: 30px;
    font-size: 12px;
    line-height: 16px;
    background-color: rgb(247, 247, 247);
    width: 100%;
    margin: 0px;
}
#l1_header2_filter3_button:hover{
    border: 1px solid rgb(34, 34, 34);
}
#l1_header2_filter3_button_inside{
    display: flex !important;
    place-content: center;
}
.l1_header2_filter_insideText{
    font-size: 14px;
}
.l1_header2_filter_button_inside > span{
    margin-left: 5px;
}

.l1_nav_name{
    color: rgb(113, 113, 113);
    white-space: nowrap !important;
}
.l1_nav_img{
    width: 20px;
    height: 20px;
    position: relative;
    animation: fadein 0.5s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.l1_nav_img_wrap{
    width: 20px;
    height: 20px;
    display: flex !important;
    margin-right: 8px !important;
}
.l1_nav{
    background-color: white;
    text-align: center !important;
    border: none !important;
    margin: 6px 6px 6px 0px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    padding: 10px !important;
    cursor: pointer !important;
}
.l1_nav:hover{
    border-radius: 30px;
    background-color: rgb(247,247,247);
}

.l1_nav_content{
    display: flex !important;
    align-items: center !important;
    cursor: pointer !important;
}

/* 더보기 모달 */
#l1_nav14_wrap{
    position: relative;
}
#l1_nav_modal_wrap{
    position: absolute;
    display: none;
    top: 60px;
    left: 10px;
    z-index: 1000;
    width: 350px;
    background-color: white;
    border-radius: 30px;
    padding: 16px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}
.l1_nav_modal_content_button{
    border: 0px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    cursor: pointer;
    line-height: 48px;
    margin: 0px;
    padding: 4px 16px;
    width: 100%;
    border-radius: 16px;
    background-color: white;
}
.l1_nav_modal_content_button:hover{
    border-radius: 20px;
    background-color: rgb(247,247,247);
}
.l1_nav_modal_content{
    text-align: left;
}